/** JORDAN EARLE - CSS

1. LAYOUT
2. TYPOGRAPHY
3. IMAGES

**/

/** LAYOUT **/

body{
  margin: 0px;
  padding: 0px;
  min-width: 100%;}

  ::selection {
  background-color: #20253F;
  color: #ffffff;
  }


.Hero {   height: 615px;
          background-image: url(../img/geometry.png),
          linear-gradient(-153deg, #D6D6D6 0%, #FFFFFF 95%);}
.Monogram {  height: 1050px; background-color: #ffffff; }
.Colour { height: 300px; background-color: #F4F4F4; }
.Wordmark { height: 600px; background-color: #fff; }
.Typography { height: 550px; background-color: #EFF1F1; }
.Buttons { height: 100vh; background-color: #ffffff; }

section{ padding-top: 1.5em; overflow: none;}

.LogoHeader {
  margin-left: 3%;
  padding-top: 3%;
  display: inline-block;}

.MonogramHeader {
  padding-left: 55%;
  padding-top: 3%;
  display: inline-block;
  position: absolute;}

.CondensedHero {
  margin-left: 2.5%;
  margin-top: -5%;}

.PHero {
  margin-left: 2.5%;
  width: 55%;
  margin-top: -7%;}

.IDRect {
    width: 207px;
  	height: 59px;
    background-image:url(../img/angledrect.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    padding-top: 8px;
    padding-bottom: 1em;}

.MonogramCaption1 {
    width: 160px;
    height: 230px;
    display: inline-block;}

.MonogramCaption {
    width: 160px;
    height: 230px;
    display: inline-block;
    margin-left: 8%;}

.LightMonogramBox1 {
    width: 160px;
    height: 160px;
    background-color: #f7f7f7;
    display: inline-block;
    position: relative;}

.LightMonogramBox {
    width: 160px;
    height: 160px;
    background-color: #f7f7f7;
    display: inline-block;
    position: relative;}

.DarkMonogramBox1 {
    width: 160px;
    height: 160px;
    background-color: #4DB2BD;
    display: inline-block;
    position: relative;}

.DarkMonogramBox {
    width: 160px;
    height: 160px;
    background-color: #2F3049;
    display: inline-block;
    position: relative;}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 50%;
    opacity: 0.2;}

.UsageGuide1 {
  width: 27%;
  display: inline-block;
  position: relative;}

.UsageGuide {
  width: 27%;
  display: inline-block;
  position: relative;
  margin-left: 3%;}

.ColourRect {
  background-image: linear-gradient(-90deg, #203D3F 0%, #1B1E38 28%, #4BB8C3 49%, #98D4D9 69%, #EEF0F0 100%, #F2F2F2 100%);
  width: 90%;
  height: 60px;
  margin: auto;
  margin-bottom: 2em;}

.Colour1 {
  background-color: #EFF1F1;
  width:220px;
  height:55px;
  margin-left: 60px;
  display: inline-table;
  position: relative;}

.Colour2 {
  background-color: #9DD6DC;
  width:218px;
  height:55px;
  margin-left: 1%;
  display: inline-table;}

.Colour3 {
  background-color: #4DB2BD;
  width:218px;
  height:55px;
  margin-left: 1%;
  display: inline-table;}

.Colour4 {
  background-color: #20253F;
  width:218px;
  height:55px;
  margin-left: 1%;
  display: inline-table;}

.Colour5 {
  background-color: #254447;
  width:215px;
  height:55px;
  margin-left: 1%;
  display: inline-table;}

.WordmarkGrid1 {
  margin-top: 1em;
  display: inline-block;
  opacity: 0.8;}

.WordmarkGrid2 {
  margin-top: 1em;
  display: inline-block;
  padding-left: 12%;
  opacity: 0.8;}

.WordmarkGrid3 {
  margin-top: 1em;
  margin-bottom: 4em;
  display: inline-block;
  opacity: 0.8;}

.WordmarkGrid4 {
  margin-top: 3em;
  margin-bottom: 4em;
  display: inline-block;
  padding-left: 12%;
  opacity: 0.8;}

.TypographyStyles {
  width: 50%;
  border-collapse:separate;
  border-spacing:1em;
  display: inline-block;
  margin-bottom: -1em;}

.TypographyExp {
  width: 25%;
  display: inline-block;
    margin-left: 5em;
    margin-top: -220em;

}

  /** TYPOGRAPHY **/

.Condensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 9em;
  line-height: 95%;
  color: #2F3049;}

.HeroText {
  font-family: "gesta",sans-serif;
  color: #797979;
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 90%;}

.IDRectText {
  font-family: "gesta",sans-serif;
  font-size: 1.4em;
  color: #ffffff;
  opacity: 0.9;
  padding-left: 10px;}

.Caption {
  font-family: "gesta",sans-serif;
  font-size: 1em;
  color: #B0B0B0;
  opacity: 0.9;
  margin-left: -40%;
  text-transform: uppercase;}

.MonogramH2{
  font-family: "gesta",sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #A2A2A2;
  font-weight: 400;}

.MonogramP{
  font-family: "gesta",sans-serif;
  font-size: 1em;
  text-align: left;
  color: #A2A2A2;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  line-height: 1.5em;
  padding-bottom: 1.3em;}

.UsageHeader {
  font-family: "gesta",sans-serif;
  font-size: 1em;
  color: #6D6D6D;
  font-weight: 500;}

.UsageP {
  font-family: "gesta",sans-serif;
  font-size: 1em;
  color: #6D6D6D;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;}

.ColourCode {
  font-family: "gesta",sans-serif;
  font-size: 2em;
  color: #000000;
  font-weight: 300;
  position: absolute;
  margin-top: 10px;
  margin-left: 42px;}

.ColourCodeLight {
  font-family: "gesta",sans-serif;
  font-size: 2em;
  color: #ffffff;
  font-weight: 200;
  position: absolute;
  margin-top: 10px;
  margin-left: 38px;
  opacity: 0.8;}

.ClassType {
  font-family: "gesta",sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-right: 4EM;
  margin-left: 2em;}

.H1Type {
  font-family: "gesta",sans-serif;
  font-size: 40px;
  font-weight: 300;}

.H2Type {
  font-family: "gesta",sans-serif;
  font-size: 30px;
  font-weight: 300;}

.H3Type {
  font-family: "gesta",sans-serif;
  font-size: 25px;
  font-weight: 200;}

.BodyType {
  font-family: "gesta",sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;}

.QuoteType {
  font-family: "gesta",sans-serif;
  font-size:21px;
  font-weight: 400;
  line-height: 1.6em;
  font-style: italic;
  opacity: 0.5;}

.FooterType {
  font-family: "gesta",sans-serif;
  font-size:12px;
  font-weight: 300;
  letter-spacing: 0.2em;}

.TypeHeader {
  font-family: "gesta",sans-serif;
  font-size: 1.2em;
  color: #6D6D6D;
  font-weight: 400;}

.TypeP {
  font-family: "gesta",sans-serif;
  font-size: 1em;
  color: #6D6D6D;
  font-weight: 200;}

.Alphabet {
  font-family: "gesta",sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.FontName {
  font-family: "gesta",sans-serif;
  font-size: 0.6em;
  color: #6D6D6D;
  font-weight: 200;
  letter-spacing: 0.05em;
}

/** IMAGES **/

.monogramlogo {
  position:absolute;
  margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}

.FontName2 {
  opacity: 0.7;
  margin-top: 1em;
}
